<div class="invalidFeedback">
        <% errors.forEach(item => { %>
                <% if(item.search("phone") !== -1) { %>
                        <p><%= item %></p>
                <% } %>
        <% }) %>
</div>