<!DOCTYPE html>
<html lang="ar">
<%- include("includes/head") %>
<body class="d-flex flex-column min-vh-100">

        <main class="flex-grow-1 d-flex justify-content-center align-items-center">
                <div class="container mt-5  p-4" > 
                        <img class="login-logo mx-auto d-block mb-3" src="sawweb-icon.jpeg" alt="Sawweb-icon">
                        <form action="/login" method="post">  
                                <fieldset>
                                        <legend class="textFont text-center sawwebColor">تسجيل دخول</legend>
                                        <p class="text-center textFont"> ادخل الرقم الوطني لتسجيل الدخول</p>

                                        <div class="mb-3">
                                                
                                                <input type="text" id="nationalId" name="nationalId" class="textFont form-control" dir="rtl" placeholder="الرقم الوطني">
                                                
                                        </div>
                                        
                                        <div class="mb-3">
                                                
                                                <input type="password" id="password" name="password" class="textFont form-control" dir="rtl" placeholder="كلمة السر">
                                                
                                        </div>
                                        <%- include("includes/nationalIdError") %>
                                                
                                        <div class="mb-3">
                                                <button type="submit" class="textFont btn w-100 sign-up-btn" dir="rtl">دخول</button>
                                        </div>
                                </fieldset>
                        </form>  
                        <p class="text-center textFont">مستحدم جديد؟ <a href="/homepage">إنشاء حساب</a></p>


                </div>
        </main>

        <%- include("includes/footer") %>

</body>
</html>