<!DOCTYPE html>
<html lang="ar">
<%- include("includes/head") %>
<body class="d-flex flex-column min-vh-100">

        <main class="flex-grow-1 d-flex justify-content-center align-items-center">
                <div class="container mt-5  p-4  " > 
                </div>
        </main>

        <%- include("includes/footer") %>

</body>
</html>