/*
=============== 
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap');

/*
=============== 
Variables
===============
*/
:root {
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  --clr-primary-5: hsl(205, 78%, 60%);
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --ff-primary: 'Roboto', sans-serif;
  --ff-secondary: 'Open Sans', sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

/*
=============== 
Global Styles
===============
*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem; 
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/* Global Utility */
.section {
  padding: 5rem 0;
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

/*
=============== 
Sidebar
===============
*/
#nav {   
  transition: var(--transition);
}
/* fixed nav */
.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 7rem;
  background: var(--clr-white);
  box-shadow: var(--light-shadow);
}

.sidebar-toggle {
  position: fixed;
  top: 2rem;
  right: 3rem;
  padding: 1rem 0rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: #002d66;
  transition: var(--transition);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem; 
}
.sidebar-toggle i {
  font-size: 2.5rem;
}
.sidebar-toggle:hover {
  color: var(--clr-primary-7);
  font-size: 2.8rem;
}  
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--clr-white);
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: 1rem;
  box-shadow: var(--clr-red-dark);
  transition: var(--transition);
  transform: translateX(100%);
  direction: rtl; /* Set direction to RTL */
}
.show-sidebar {
  transform: translateX(0);
}
@media screen and (min-width: 676px) {
  .sidebar {
    width: 400px;
  }
}  

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  flex-direction: row-reverse; /* For RTL layout */
}
 

.close-btn {
  font-size: 1.75rem;
  background: transparent;
  border: none;
  color: #002d66;
  transition: var(--transition);
  margin-right: auto;
  cursor: pointer; 
}

.close-btn:hover {
  color: #89c0f8; 
  background: transparent;

}


.links a {
  display: block;
  font-size: 1.5rem;
  text-transform: capitalize;
  text-align: right;
  padding: 1rem 1.5rem 1rem 1rem;
  color: var(--clr-grey-5);
  transition: var(--transition);
}
.links a:hover {
  background: var(--clr-primary-8);
  color: var(--clr-primary-5);
  padding-right: 1.75rem;
  padding-left: 1rem;
}

.logout-btn {
  background: transparent;
  border: none;
  color: #002d66;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  direction: rtl;
  gap: 0.5rem;
  cursor: pointer;
  transition: var(--transition);
}
.logout-btn:hover {
  color: var(--clr-red-dark);
  font-size: 1.7rem;
}

.social-icons {
  justify-self: center;
  display: flex;
  padding-bottom: 2rem;
}

.social-icons a {
  font-size: 1.5rem;
  margin: 0 0.5rem;
  color: var(--clr-primary-5);
  transition: var(--transition);
}
.social-icons a:hover {
  color: var(--clr-primary-1);
}



.setting-btn {
  background: transparent;
  border: none;
  color: #002d66;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  direction: rtl;
  gap: 0.5rem;
  cursor: pointer;
  transition: var(--transition);
}
.setting-btn:hover {
  font-size: 1.7rem;
  color: #89c0f8; 
}


.profile-btn {
  background: transparent;
  border: none;
  color: #002d66;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  direction: rtl;
  gap: 0.5rem;
  cursor: pointer;
  transition: var(--transition);
}
.profile-btn:hover {
  font-size: 1.7rem;
  color: #89c0f8; 

}


.suggestion-btn {
  background: transparent;
  border: none;
  color: #002d66;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  direction: rtl;
  gap: 0.5rem;
  cursor: pointer;
  transition: var(--transition);
}
.suggestion-btn:hover {
  color: #89c0f8; 
  font-size: 1.7rem;
}

.complaints-btn {
  background: transparent;
  border: none;
  color: #002d66;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  direction: rtl;
  gap: 0.5rem;
  cursor: pointer;
  transition: var(--transition);
}
.complaints-btn:hover {
  color: #89c0f8; 
  font-size: 1.7rem;
}

.tasks {
  padding: 1rem; /* Use a smaller, reasonable padding */
  margin-left: 10rem;
  margin-top: 5rem; 
  margin-bottom: 0rem; 

  font-size: 1.5rem;
  direction: rtl;
  text-align: right; 
  width: 90%; 
  border-radius: 8px;     /* Optional: for rounded corners */
  transition: var(--transition);
}
.tasks:hover {
  font-size: 1.7rem;
}
.suggestion-box {
  padding: 2rem; /* Use a smaller, reasonable padding */ 
  direction: rtl;
  margin: 1rem;
  text-align: right;
  background-color: #ffffff;
  width: 80%;
  display: inline-block; /* Shrinks to fit content width */
  border-radius: 8px;     /* Optional: for rounded corners */
  transition: var(--transition);
}


.comlpaints-box {
  padding: 2rem; /* Use a smaller, reasonable padding */ 
  margin: 1rem;
  direction: rtl;
  text-align: right;
  background-color: #ffffff;
  width: 80%;
  display: inline-block; /* Shrinks to fit content width */
  border-radius: 8px;     /* Optional: for rounded corners */
  transition: var(--transition);
}

.comlpaints-box:hover {
  background: var(--clr-primary-8);  
  padding-right: 3.5rem; 
  font-size: 1.7rem;
}


.suggestion-box:hover {
  background: var(--clr-primary-8);  
  padding-right: 3.5rem; 
  font-size: 1.7rem;
}
.title-line {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  direction: rtl;
  margin: 2rem 0;
  z-index: -1; /* Ensure it doesn't go over the sidebar if positioned */
}

.title-line .liner {
  flex-grow: 0.03;
  display: flex;
  height: 1px;
  background-color: #003366; /* dark blue */
  opacity: 0.5;
  z-index: -1; /* Ensure it doesn't go over the sidebar if positioned */
  position: relative;
}
.title-line .linel {
  flex-grow: 1;
  height: 1px;
  background-color: #003366; /* dark blue */
  z-index: -1; /* Ensure it doesn't go over the sidebar if positioned */
  opacity: 0.5;
}

.title-line .text {
  font-weight: bold;
  color: #003366;
  white-space: nowrap;
  font-size: 1.2rem;
}



.statistics {
  padding: 0rem;
  margin-left: 10rem;
  margin-top: 0rem; /* tighter spacing below tasks */
  direction: rtl;
  text-align: right;
  width: 90%; 
  border-radius: 8px;
   gap: 0.5rem; 
}
.multi-stat-container {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: center;
  margin-top: 2rem;
}

.donut {
  width: 250px;
  height: 250px;
  transform: rotate(-90deg);
}

.donut-ring {
  stroke-width: 3;
}

.donut-segment {
  stroke-linecap: round;
  stroke-width: 3;
  transition: stroke-dasharray 0.6s ease;
}

.center-label {
  font-size: 4px;
  fill: #333;
  font-weight: bold;
  transform: rotate(90deg);
}

.legend {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 16px;
}

.legend div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.legend span {
  width: 16px;
  height: 16px;
  border-radius: 3px;
  display: inline-block;
}

svg {
  z-index: -1;
} 

 
