.sawwebColor {
        color:#002d66;
}

.textFont {
        font-family: 'Cairo';
}
.login-logo {
      width: 250px;
      height: 250px;
      object-fit: cover;
      border-radius: 50%;
}

.invalidFeedback{
        color:#720d12;
}