

 
 
.suggestion-container {
  display: flex;
  top: 5rem;
  right: 4rem; 
  position: absolute;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  padding: 0.5rem;
  margin-top: 1rem; /* ✅ Reduced spacing */
  margin-bottom: 15rem;

} 

.suggestion {
  width: 90%;
  max-width: 800px; /* Adjust as needed */
  direction: rtl;
}

.suggestion-post {
  padding: 1rem;
  margin: 1rem  0.5rem;
  direction: rtl;
  text-align: right;
  background-color: #ffffff;
  width: 100%;
  border-radius: 8px;
  transition: var(--transition);
  box-shadow: var(--light-shadow);
}

.suggestion-post:hover {
  background: var(--clr-primary-8);
  transform: translateX(-10px);
}

.suggestion-post-btn {
  background: transparent;
  border: none;
  color: #002d66;
  font-size: 1.5rem;
  display: block;
  width: 100%;
  text-align: right;
  cursor: pointer;
  transition: var(--transition);
}

.suggestion-post-btn small {
  display: block;
  margin-top: 0.5rem;
  font-size: 1rem;
  color: var(--clr-grey-5);
}

.return-dashboard-btn {
  font-size: 2rem;
  position: fixed;
  background: transparent;
  border-color: transparent;
  color: #002d66;
  transition: var(--transition);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.return-dashboard-btn:hover {
  color: #89c0f8;
}

 
